458-Geopandas*.*
.ipynb_checkpoints/
_pycache*/
.idea/*
*.pyc

*.zip

*.html

ca.svg

*.svg

ca.svg

*.html

_map.html

ca.svg
data/*
docker/*
other-stuff/*
other-stuff/*.*
session4/islands.*

other-stuff/hexbins.ipynb

other-stuff/pinwheel.py
